.icon {
  --iconSize: 3rem;
  --iconColor: currentColor;

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--iconSize);
  height: var(--iconSize);
  color: var(--iconColor);

  &.sizeXS {
    --iconSize: 2rem;
  }

  &.sizeM {
    --iconSize: 4rem;
  }

  &.sizeL {
    --iconSize: 5rem;
  }

  &.sizeXL {
    --iconSize: 6rem;
  }

  &.sizeXXL {
    --iconSize: 7rem;
  }

}