:root {
  --baseFontFamily: "Mulish", sans-serif;
  --baseFontSize: 8px;
  --baseLineHeight: 1.5;
  --baseFontWeight: normal;
  --baseFont: var(--baseFontWeight) var(--baseFontSize)/var(--baseLineHeight) var(--baseFontFamily);
}