{
  "parser": "vue-eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest",
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [ "@typescript-eslint" ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "vue/multi-word-component-names": "off",
    "@typescript-eslint/no-var-requires": "off"
  }
}
