.weatherWidget {
  --weatherWidgetPadding: 3rem;

  width: fit-content;
  border-radius: 1rem;
  background-color: var(--colorMineShaft);
  color: var(--colorWhite);
  padding: var(--weatherWidgetPadding);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__main {
    display: flex;
  }

  &__details {
    display: flex;
  }
}